[features]
seeds = false
skip-lint = false

[programs.devnet]
private_state_toolkit = "4FeUYtneSbfieLwjUT1ceHtv8nDXFk2autCZFyDhpkeD"

[programs.testnet]
private_state_toolkit = "4FeUYtneSbfieLwjUT1ceHtv8nDXFk2autCZFyDhpkeD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"
